# Testing frameworks
pytest==8.3.3
pytest-asyncio

# HTTP mocking for tests
pytest-httpx

# Mocking for Redis
fakeredis

# Async HTTP client
aiohttp
httpx==0.27.0

# Benchmarking
pytest-benchmark

# Code formatting and linting
black==24.8.0
flake8==7.1.1